@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: "PixelFontBold";
	src: url("./assets/fonts/pixeloid-font/PixelFontBold.ttf")
		format("truetype");
	font-weight: 400; /* Normal */
	font-style: normal;
}

@font-face {
	font-family: "PixelFontSans";
	src: url("./assets/fonts/pixeloid-font/PixelFontSans.ttf")
		format("truetype");
	font-weight: 400; /* Normal */
	font-style: normal;
}
@font-face {
	font-family: "PixelFontMono";
	src: url("./assets/fonts/pixeloid-font/PixelFontMono.ttf")
		format("truetype");
	font-weight: 400; /* Normal */
	font-style: normal;
}
